In [3]:
import numpy as np
import pandas as pd
##There are two basic kinds of data structures in Python-Pandas

In [4]:
## 1. Series -> A single dimensional data storage medium
ser_1 = pd.Series(np.random.rand(20))
ser_1

0     0.352485
1     0.093758
2     0.359015
3     0.621346
4     0.084947
5     0.330275
6     0.691237
7     0.511774
8     0.029661
9     0.505539
10    0.146957
11    0.614610
12    0.596205
13    0.918248
14    0.724350
15    0.257744
16    0.889844
17    0.396935
18    0.669460
19    0.463739
dtype: float64

In [6]:
ser_2 = pd.Series([1,2,3,4,5,6,7,8])
ser_2

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [12]:
## 2. DataFrame is a 2D data storage medium
my_df1 = pd.DataFrame(np.random.rand(50,5),index=np.arange(50))
my_df1

           0         1         2         3         4
0   0.603705  0.606697  0.416612  0.158208  0.328136
1   0.097829  0.356145  0.393755  0.221189  0.528342
2   0.140298  0.689144  0.995972  0.311499  0.107395
3   0.511394  0.120455  0.361191  0.256603  0.133936
4   0.817147  0.192567  0.612500  0.942886  0.024629
5   0.342331  0.347350  0.238788  0.942544  0.223491
6   0.150025  0.640674  0.722251  0.328693  0.831463
7   0.211218  0.107018  0.782705  0.488242  0.947954
8   0.338705  0.012475  0.281547  0.703734  0.804589
9   0.621834  0.795133  0.771074  0.979315  0.480418
10  0.164174  0.249053  0.977066  0.508500  0.728023
11  0.289463  0.372024  0.129909  0.452239  0.834828
12  0.666919  0.826780  0.202460  0.697152  0.835662
13  0.398397  0.629375  0.549247  0.593176  0.422402
14  0.563865  0.120384  0.480612  0.275032  0.629165
15  0.123808  0.876527  0.853697  0.877989  0.067652
16  0.082215  0.611255  0.737573  0.269146  0.924680
17  0.305561  0.438434  0.188885  0.710695  0.089086
18  0.992172  0.756521  0.016886  0.693676  0.102335
19  0.313037  0.677439  0.644410  0.493879  0.491508
20  0.445243  0.997378  0.341300  0.420671  0.976898
21  0.558774  0.296054  0.362578  0.324742  0.657141
22  0.851406  0.945848  0.964083  0.205835  0.065169
23  0.210504  0.081179  0.244244  0.600241  0.986941
24  0.433293  0.398443  0.138826  0.466325  0.519733
25  0.400671  0.118914  0.705177  0.355258  0.837984
26  0.645452  0.449012  0.233871  0.479438  0.574803
27  0.829408  0.103686  0.942854  0.754671  0.693236
28  0.684176  0.259212  0.648512  0.040402  0.404177
29  0.270569  0.468595  0.177965  0.439705  0.180682
30  0.475168  0.169105  0.026699  0.325562  0.071814
31  0.773884  0.345171  0.968905  0.582359  0.537018
32  0.265834  0.619843  0.213274  0.036577  0.548207
33  0.207770  0.117134  0.215099  0.036815  0.919871
34  0.641289  0.438560  0.760176  0.899117  0.483443
35  0.821994  0.055046  0.914093  0.107014  0.946294
36  0.093579  0.631327  0.986385  0.383021  0.509406
37  0.121960  0.215525  0.581658  0.230180  0.249075
38  0.297892  0.029217  0.437283  0.404880  0.827386
39  0.739818  0.896776  0.023717  0.852373  0.883228
40  0.974175  0.104378  0.497219  0.464452  0.284537
41  0.212891  0.211093  0.976937  0.951438  0.939210
42  0.628005  0.631399  0.743411  0.883436  0.264377
43  0.391505  0.485626  0.901626  0.430235  0.151324
44  0.196429  0.184120  0.580357  0.179558  0.902314
45  0.427707  0.222514  0.576129  0.085302  0.739605
46  0.053996  0.802155  0.508802  0.832831  0.983874
47  0.180045  0.431215  0.372072  0.243295  0.169505
48  0.031574  0.986916  0.635328  0.513995  0.359721
49  0.833830  0.160053  0.592580  0.426320  0.560663

In [19]:
##to delete a column from a dataframe we use drop function and put the 2nd argument axis=1(this shows column should be deleted)
my_df1.drop(0,axis=1)
my_df1.head()

          0         1         2         3         4
0  0.603705  0.606697  0.416612  0.158208  0.328136
1  0.097829  0.356145  0.393755  0.221189  0.528342
2  0.140298  0.689144  0.995972  0.311499  0.107395
3  0.511394  0.120455  0.361191  0.256603  0.133936
4  0.817147  0.192567  0.612500  0.942886  0.024629

In [23]:
##similarly if we want to delete a row from a dataframe we put axis=0 in drop()
my_df1.drop(1,axis=0) ##this shows that row 1 is deleted from the dataframe
my_df1.head()

          0         1         2         3         4
0  0.603705  0.606697  0.416612  0.158208  0.328136
1  0.097829  0.356145  0.393755  0.221189  0.528342
2  0.140298  0.689144  0.995972  0.311499  0.107395
3  0.511394  0.120455  0.361191  0.256603  0.133936
4  0.817147  0.192567  0.612500  0.942886  0.024629

In [25]:
##if you want to create copy of a dataframe, you can use copy() function
my_df2 = my_df1.copy()
my_df2.head()
##keep one thing in mind that if we directly assign a dataframe to a new dataframe 
##variable it will not create a copy rather points to the same dataframe i.e my_df2 = my_df1
##this will not create a copy of my_df1 in my_df2 insead my_df2 will starts pointing my_df1

          0         1         2         3         4
0  0.603705  0.606697  0.416612  0.158208  0.328136
1  0.097829  0.356145  0.393755  0.221189  0.528342
2  0.140298  0.689144  0.995972  0.311499  0.107395
3  0.511394  0.120455  0.361191  0.256603  0.133936
4  0.817147  0.192567  0.612500  0.942886  0.024629

In [37]:

my_df2.drop((0,0),axis=1)

           0         1         2         3         4
0   0.603705  0.606697  0.416612  0.158208  0.328136
1   0.097829  0.356145  0.393755  0.221189  0.528342
2   0.140298  0.689144  0.995972  0.311499  0.107395
3   0.511394  0.120455  0.361191  0.256603  0.133936
4   0.817147  0.192567  0.612500  0.942886  0.024629
5   0.342331  0.347350  0.238788  0.942544  0.223491
6   0.150025  0.640674  0.722251  0.328693  0.831463
7   0.211218  0.107018  0.782705  0.488242  0.947954
8   0.338705  0.012475  0.281547  0.703734  0.804589
9   0.621834  0.795133  0.771074  0.979315  0.480418
10  0.164174  0.249053  0.977066  0.508500  0.728023
11  0.289463  0.372024  0.129909  0.452239  0.834828
12  0.666919  0.826780  0.202460  0.697152  0.835662
13  0.398397  0.629375  0.549247  0.593176  0.422402
14  0.563865  0.120384  0.480612  0.275032  0.629165
15  0.123808  0.876527  0.853697  0.877989  0.067652
16  0.082215  0.611255  0.737573  0.269146  0.924680
17  0.305561  0.438434  0.188885  0.710695  0.089086
18  0.992172  0.756521  0.016886  0.693676  0.102335
19  0.313037  0.677439  0.644410  0.493879  0.491508
20  0.445243  0.997378  0.341300  0.420671  0.976898
21  0.558774  0.296054  0.362578  0.324742  0.657141
22  0.851406  0.945848  0.964083  0.205835  0.065169
23  0.210504  0.081179  0.244244  0.600241  0.986941
24  0.433293  0.398443  0.138826  0.466325  0.519733
25  0.400671  0.118914  0.705177  0.355258  0.837984
26  0.645452  0.449012  0.233871  0.479438  0.574803
27  0.829408  0.103686  0.942854  0.754671  0.693236
28  0.684176  0.259212  0.648512  0.040402  0.404177
29  0.270569  0.468595  0.177965  0.439705  0.180682
30  0.475168  0.169105  0.026699  0.325562  0.071814
31  0.773884  0.345171  0.968905  0.582359  0.537018
32  0.265834  0.619843  0.213274  0.036577  0.548207
33  0.207770  0.117134  0.215099  0.036815  0.919871
34  0.641289  0.438560  0.760176  0.899117  0.483443
35  0.821994  0.055046  0.914093  0.107014  0.946294
36  0.093579  0.631327  0.986385  0.383021  0.509406
37  0.121960  0.215525  0.581658  0.230180  0.249075
38  0.297892  0.029217  0.437283  0.404880  0.827386
39  0.739818  0.896776  0.023717  0.852373  0.883228
40  0.974175  0.104378  0.497219  0.464452  0.284537
41  0.212891  0.211093  0.976937  0.951438  0.939210
42  0.628005  0.631399  0.743411  0.883436  0.264377
43  0.391505  0.485626  0.901626  0.430235  0.151324
44  0.196429  0.184120  0.580357  0.179558  0.902314
45  0.427707  0.222514  0.576129  0.085302  0.739605
46  0.053996  0.802155  0.508802  0.832831  0.983874
47  0.180045  0.431215  0.372072  0.243295  0.169505
48  0.031574  0.986916  0.635328  0.513995  0.359721
49  0.833830  0.160053  0.592580  0.426320  0.560663

In [38]:
##if we want to alter a value at a particular location in a dataset, we can do this
my_df2.loc[1,0] = 0.8027384

In [39]:
my_df2.head()

          0         1         2         3         4    (0, 0)
0  0.603705  0.606697  0.416612  0.158208  0.328136  0.612323
1  0.802738  0.356145  0.393755  0.221189  0.528342  0.612323
2  0.140298  0.689144  0.995972  0.311499  0.107395  0.612323
3  0.511394  0.120455  0.361191  0.256603  0.133936  0.612323
4  0.817147  0.192567  0.612500  0.942886  0.024629  0.612323

In [41]:
my_df2.drop(1,axis=1) #to delete column1

           0         2         3         4    (0, 0)
0   0.603705  0.416612  0.158208  0.328136  0.612323
1   0.802738  0.393755  0.221189  0.528342  0.612323
2   0.140298  0.995972  0.311499  0.107395  0.612323
3   0.511394  0.361191  0.256603  0.133936  0.612323
4   0.817147  0.612500  0.942886  0.024629  0.612323
5   0.342331  0.238788  0.942544  0.223491  0.612323
6   0.150025  0.722251  0.328693  0.831463  0.612323
7   0.211218  0.782705  0.488242  0.947954  0.612323
8   0.338705  0.281547  0.703734  0.804589  0.612323
9   0.621834  0.771074  0.979315  0.480418  0.612323
10  0.164174  0.977066  0.508500  0.728023  0.612323
11  0.289463  0.129909  0.452239  0.834828  0.612323
12  0.666919  0.202460  0.697152  0.835662  0.612323
13  0.398397  0.549247  0.593176  0.422402  0.612323
14  0.563865  0.480612  0.275032  0.629165  0.612323
15  0.123808  0.853697  0.877989  0.067652  0.612323
16  0.082215  0.737573  0.269146  0.924680  0.612323
17  0.305561  0.188885  0.710695  0.089086  0.612323
18  0.992172  0.016886  0.693676  0.102335  0.612323
19  0.313037  0.644410  0.493879  0.491508  0.612323
20  0.445243  0.341300  0.420671  0.976898  0.612323
21  0.558774  0.362578  0.324742  0.657141  0.612323
22  0.851406  0.964083  0.205835  0.065169  0.612323
23  0.210504  0.244244  0.600241  0.986941  0.612323
24  0.433293  0.138826  0.466325  0.519733  0.612323
25  0.400671  0.705177  0.355258  0.837984  0.612323
26  0.645452  0.233871  0.479438  0.574803  0.612323
27  0.829408  0.942854  0.754671  0.693236  0.612323
28  0.684176  0.648512  0.040402  0.404177  0.612323
29  0.270569  0.177965  0.439705  0.180682  0.612323
30  0.475168  0.026699  0.325562  0.071814  0.612323
31  0.773884  0.968905  0.582359  0.537018  0.612323
32  0.265834  0.213274  0.036577  0.548207  0.612323
33  0.207770  0.215099  0.036815  0.919871  0.612323
34  0.641289  0.760176  0.899117  0.483443  0.612323
35  0.821994  0.914093  0.107014  0.946294  0.612323
36  0.093579  0.986385  0.383021  0.509406  0.612323
37  0.121960  0.581658  0.230180  0.249075  0.612323
38  0.297892  0.437283  0.404880  0.827386  0.612323
39  0.739818  0.023717  0.852373  0.883228  0.612323
40  0.974175  0.497219  0.464452  0.284537  0.612323
41  0.212891  0.976937  0.951438  0.939210  0.612323
42  0.628005  0.743411  0.883436  0.264377  0.612323
43  0.391505  0.901626  0.430235  0.151324  0.612323
44  0.196429  0.580357  0.179558  0.902314  0.612323
45  0.427707  0.576129  0.085302  0.739605  0.612323
46  0.053996  0.508802  0.832831  0.983874  0.612323
47  0.180045  0.372072  0.243295  0.169505  0.612323
48  0.031574  0.635328  0.513995  0.359721  0.612323
49  0.833830  0.592580  0.426320  0.560663  0.612323

In [45]:
temp_df = my_df2.drop((0,0),axis=1)
my_df3 = temp_df.copy()

In [46]:
my_df3.head()

          0         1         2         3         4
0  0.603705  0.606697  0.416612  0.158208  0.328136
1  0.802738  0.356145  0.393755  0.221189  0.528342
2  0.140298  0.689144  0.995972  0.311499  0.107395
3  0.511394  0.120455  0.361191  0.256603  0.133936
4  0.817147  0.192567  0.612500  0.942886  0.024629

In [49]:
my_df1.head()

          0         1         2         3         4
0  0.603705  0.606697  0.416612  0.158208  0.328136
1  0.097829  0.356145  0.393755  0.221189  0.528342
2  0.140298  0.689144  0.995972  0.311499  0.107395
3  0.511394  0.120455  0.361191  0.256603  0.133936
4  0.817147  0.192567  0.612500  0.942886  0.024629